{{!-- <li>{{this}}</li> --}}
<div class="card" style="width: 18rem;">
  <img src="{{img}}" class="card-img-top" alt="cute-cat">
  <div class="card-body">
    <h5 class="card-title"> {{title}} </h5>
    <p class="card-text">{{description}}</p>
    <a href="/movies/{{id}}" class="btn btn-primary">Details</a>
  </div>
</div>
